
body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#ece6d8;

font-family:Georgia,serif;

}

.certificate{

background:white;

padding:60px;

width:900px;

text-align:center;

border:12px solid gold;

box-shadow:0 0 25px rgba(0,0,0,.3);

}

h1{

font-size:48px;

color:#8b6508;

}

h2{

font-size:38px;

margin:20px;

}

button{

padding:15px 30px;

margin:20px;

font-size:18px;

cursor:pointer;

}
