
body{

background:#111;

font-family:Arial;

color:white;

text-align:center;

}

.container{

width:800px;

margin:50px auto;

}

h1{

margin-bottom:30px;

}

table{

width:100%;

border-collapse:collapse;

margin-bottom:30px;

}

th,td{

border:1px solid #555;

padding:15px;

}

th{

background:#333;

}

tr:nth-child(even){

background:#222;

}

button{

padding:15px 35px;

font-size:18px;

cursor:pointer;

border:none;

border-radius:10px;

background:gold;

}
