
*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:#111;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.loader{

text-align:center;

}

.door{

font-size:120px;

animation:bounce 1.2s infinite;

}

.progress{

width:400px;

height:25px;

background:#333;

border-radius:20px;

margin:30px auto;

overflow:hidden;

}

.bar{

height:100%;

width:0;

background:red;

}

#percent{

font-size:30px;

margin-top:20px;

}

@keyframes bounce{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0);

}

}
