
body{

background:#111;

color:white;

font-family:Arial;

text-align:center;

padding:40px;

}

.game{

width:900px;

margin:auto;

}

.library{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

margin-top:40px;

}

.object{

background:#222;

padding:40px;

cursor:pointer;

border-radius:15px;

transition:.3s;

font-size:55px;

}

.object:hover{

background:#444;

transform:scale(1.05);

}

#message{

margin:30px;

font-size:22px;

color:gold;

}

input{

padding:15px;

width:300px;

font-size:18px;

}

button{

padding:15px 30px;

margin-left:10px;

cursor:pointer;

}
