
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#050b16;
color:white;
overflow-x:hidden;

}

.game{

width:95%;
max-width:1200px;
margin:auto;
padding:20px;

}

h1{

text-align:center;
margin:20px 0;
font-size:40px;
color:#00ffff;
text-shadow:0 0 20px cyan;

}

#message{

text-align:center;
font-size:20px;
margin-bottom:30px;
color:#9cff57;

}

/* HUD */

.hud{

display:flex;
justify-content:space-between;
align-items:center;
background:#111827;
padding:15px;
border-radius:12px;
margin-bottom:25px;
flex-wrap:wrap;
gap:15px;

}

#playerName{

font-weight:bold;
color:#00ffff;

}

#score{

color:gold;
font-weight:bold;

}

#inventory{

color:#7CFC00;

}

/* Laboratory */

.lab{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;

}

.object{

background:#16213e;
border:2px solid #00ffff;
border-radius:15px;
padding:40px;
text-align:center;
cursor:pointer;
transition:.3s;
font-size:55px;

}

.object:hover{

transform:scale(1.05);
box-shadow:0 0 20px cyan;
background:#1d3557;

}

.object p{

font-size:18px;
margin-top:15px;

}

input{

width:100%;
padding:15px;
font-size:18px;
margin-top:30px;
border:none;
border-radius:10px;

}

button{

margin-top:20px;
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
background:#00b894;
color:white;
transition:.3s;

}

button:hover{

background:#00cec9;

}

@media(max-width:768px){

.lab{

grid-template-columns:1fr;

}

.hud{

flex-direction:column;

}

}
