*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#111;

color:white;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.room{

width:1000px;

text-align:center;

}

.room h1{

font-size:50px;

margin-bottom:40px;

}

.objects{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

margin-bottom:40px;

}

.item{

background:#222;

padding:30px;

border-radius:10px;

cursor:pointer;

transition:.3s;

font-size:50px;

}

.item:hover{

background:#444;

transform:scale(1.05);

}

.item p{

font-size:18px;

margin-top:15px;

}

.passwordBox{

margin-top:20px;

}

input{

padding:15px;

width:300px;

font-size:18px;

}

button{

padding:15px 25px;

font-size:18px;

cursor:pointer;

margin-left:10px;

}

#message{

margin-top:30px;

font-size:22px;

color:gold;

}
/* Inventory */

.inventory{

margin-top:40px;

background:#222;

padding:20px;

border-radius:10px;

}

.inventory h2{

margin-bottom:15px;

color:gold;

}

#inventory{

font-size:22px;

color:white;

}
